  /* ------------------------Document Reset---------------------------------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: "Poppins", sans-serif;
    vertical-align: baseline;
    background: transparent;
  }
  
  /* 1. Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* 3. Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* 4. Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* 5. Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  /* 6. A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* 7. Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block; 
  }
  
  /* 8. Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* 9. Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

  }

  /* ------------------------general---------------------------------------- */

  body {
    width: 100%;
    background-color: rgb(31, 29, 29);
   /* overflow-y: hidden; */
}

  /* ------------------------header---------------------------------------- */

header {
  height: 4rem;
  background-color: #262726;
  width: 100%;
  vertical-align: center;
  text-align: center;
}

#logo-header-div {
  height: 4rem;
  width: 6rem;
  float: left; 
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-header {
  width: 80%;
  float: right;
  margin: 0;
}

#profilbild-und-einstellungen-div {
  height: 4rem;
  width: 6rem;
  float: right; 
  display: flex;
  align-items: center;
  justify-content: center;
}

#profilbild-header, #einstellungen-header {
  width: auto;
  max-height: 50%;
  float: left;
  padding-right: 1.5rem;
}


  /* ------------------------general again---------------------------------------- */


h2 {
    color: white;
}





a:link {
    color: black;
    text-decoration: none;
  }
  
a:visited {
    color: black;
    text-decoration: none;
  }

  #button-login-start {
     width: 13%;
     background-color: #ffffff;
     border: none;
     border-radius: 20px; 
     padding: 10px 20px; 
     color: black; 
     text-align: center;
     text-decoration: none;
     font-size: 1rem; 
     cursor: pointer;
     transition: background-color 0.3s ease; /* Smooth transition for background color change */
     margin-bottom: 1rem;
 }
 
 #button-login-start:hover {
     background-color: #E7EF75; 
 }

#button-login {
    width: 13%;
    background-color: #ffffff;
    border: none;
    border-radius: 20px; 
    padding: 10px 20px; 
    color: black; 
    text-align: center;
    text-decoration: none;
    font-size: 1rem; 
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
    margin-bottom: 1rem;
}

#button-login:hover {
    background-color: #E7EF75; 
}


#motivation {
    color: white;
}

#registrierungs-frage {
  color: #404140;
}

#registrierungs-frage:hover {
  color: white;
}

form {   
  border-bottom: 1px solid white;   
}   

input[type=text], input[type=password] {   
  width: 100%;   
  margin: 8px 0;  
  padding: 12px 0px;   
  display: inline-block;   
  border-bottom: 1px solid white;   
  box-sizing: border-box;   
  color: white;
} 

#angemeldet-bleiben {
  color: white;
}


/*

.balken {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%; /* Ensure the .balken div takes the full width of its parent */ /*
  gap: 1rem; /* Adjust the margin-bottom value as needed */

/*

.balken-left {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure the .balken div takes the full width of its parent */ /*
  gap: 1rem; /* Adjust the margin-bottom value as needed */


/*

#balken-5 {
  width: 30%;
  height: 1em;
  background-color: #E4EF75;
  border-radius: 20px 0 0 20px;
}

#balken-4 {
  width: 20%;
  height: 1em;
  background-color: #E4EF75;
  border-radius: 20px 0 0 20px;
}

#balken-7 {
  width: 8%;
  height: 1em;
  background-color: #E4EF75;
  border-radius: 0 20px 20px 0;
  margin: 0;
  margin-bottom: 1em;
}

#balken-6 {
  width: 30%;
  height: 1em;
  background-color: #E4EF75;
  border-radius: 0 20px 20px 0;
  margin-bottom: 3em; 
}
*/

#details-header {
  background-color: #E7EF75;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em; /* Adjust the margin-bottom value to control the space between balken-5 and details-header */
}

#details-titel {
  color: black;
  font-size: 5em;
  margin: 0; /* Remove any default margins around h1 element */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 8rem;
}

.card-container-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-bottom: 8rem;
}

.card {
  width: 20vw;
  height: 30vh;
  background: linear-gradient(to bottom, #E7EF75 0%, #E7EF75 82%, #5e5f5e23 82%, #5e5f5e23 100%);
  color: white;
  border-radius: 20px;
  margin: 5rem;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%; /* Set width to 100% to make sure the image covers the entire container */
  height: 100%; /* Set height to 100% to make sure the image covers the entire container */
}

.card-image {
  width: 100%; /* Set width to 100% to make sure the image covers the entire container */
  height: 100%; /* Set height to 100% to make sure the image covers the entire container */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  border-radius: 6%;
}

.image-container span {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set width to 100% to cover the entire bottom of the image container */
  text-align: center; /* Center the text horizontally */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better text readability */
  color: white;
  font-size: 1em;
}







@media (max-width: 768px) {
  .card {
      width: 40vw;
      height: 30vh;
  }
}

.distanz-container {
  display: flex;
  align-items: center;
}

#titel-distanz {
  font-size: 3rem;
  margin-left: 12rem;
  margin-top: 4rem;
}

.intervall-container {
  display: flex;
  align-items: center;
}

#titel-intervall {
  font-size: 3rem;
  margin-left: 12rem;
  margin-top: 4rem;
}

.sprint-container {
  display: flex;
  align-items: center;
}

#titel-sprint {
  font-size: 3rem;
  margin-left: 12rem;
  margin-top: 4rem;
}

.dauerlauf-container {
  display: flex;
  align-items: center;
}

#titel-dauerlauf {
  font-size: 3rem;
  margin-left: 12rem;
  margin-top: 4rem;
}

.steigerungslauf-container {
  display: flex;
  align-items: center;
}

#titel-steigerungslauf {
  font-size: 3rem;
  margin-left: 12rem;
  margin-top: 4rem;
}

#profil-header {
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; /* Adjust the margin-bottom value to control the space between balken-5 and details-header */
}

#profil-titel {
  color: white;
  font-size: 5em;
  margin: 0; /* Remove any default margins around h1 element */
}

#profilbild {
  width: 175px; 
  height: 175px; 
  border-radius: 60%;
  overflow: hidden; /* Ensure the image stays within the circular shape */
  margin-bottom: 3rem;
}

#profil-foto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; 
}

#level-uebersicht {
  background-color: #E7EF75;
  width: 35vw;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
}

#level-box {
  font-size: 3rem;
  color: black;
  font-weight: 900;
  margin: 0; /* Remove default margin for <p> element */
  display: flex;
  align-items: flex-start; /* Align items to the top */
}

#profil-level {
  margin: 0; /* Remove default margin for <p> element */
  align-self: flex-start; /* Align the item to the top within the flex container */
}

#level-uebersicht-pers {
  background-color: #E7EF75;
  width: 45vw;
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
  border-radius: 15px;
}

#level-box-pers {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  color: black;
  font-weight: 900;
  margin: 0; /* Remove default margin for <p> element */
  display: flex;
  margin-bottom: 1rem;
  align-items: flex-start; /* Align items to the top */
  justify-content: center;
}

#profil-level-pers {
  margin: 0; /* Remove default margin for <p> element */
  display: flex;
  justify-content: center;
  align-items: center;

  /* Align the item to the top within the flex container */
}

#test {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}

.profil-angaben {
  font-size: 1.5rem;
  align-items: flex-end;
  margin-bottom: 1rem ;
  margin: 0; /* Remove default margin for <p> element */
}

#profil-buttons {
  display: flex;
  flex-direction: row;
}

#button-level-bearbeiten {
  width: 13%;
  background-color: #323432;
  border: none;
  border-radius: 20px; 
  padding: 10px 20px; 
  color: white; 
  text-align: center;
  text-decoration: none;
  font-size: 1em; 
  cursor: pointer;
  transition: background-color 0.3s ease; 
  margin-top: 3rem;
  margin-left: 36rem;
}
  
#button-level-bearbeiten:hover {
  background-color: #E7EF75; 
  color: black;
}

#button-profil-speichern {
  width: 13%;
  background-color: #323432;
  border: none;
  border-radius: 20px; 
  padding: 10px 20px; 
  color: white; 
  text-align: center;
  text-decoration: none;
  font-size: 1em; 
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  margin-top: 3rem;
  margin-left: 10.5rem;
}
  
#button-profil-speichern:hover {
  background-color: #E7EF75; 
  color: black;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  width: 100%;
}

.outer-bar {
  width: 300px;
  height: 20px;
  border: 2px solid black;
  display: flex;
}

.inner-bar {
  height: 100%;
  width: 50%;
  background-color: #000000;
}

.text {
  margin-left: 10px; /* Add some space between the outer bar and the text */
  font-size: 1rem;
}


#profil-buttons-pers {
  display: flex;
  flex-direction: row;
}

#button-profil-bearbeiten {
  width: 13%;
  background-color: #323432;
  border: none;
  border-radius: 20px; 
  padding: 10px 20px; 
  color: white; 
  text-align: center;
  text-decoration: none;
  font-size: 1em; 
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  margin-top: 3rem;
  margin-left: 36rem;
}
  
#button-profil-bearbeiten:hover {
  background-color: #E7EF75; 
  color: black;
}

#button-kontakt {
  width: 13%;
  background-color: #323432;
  border: none;
  border-radius: 20px; 
  padding: 10px 20px; 
  color: white; 
  text-align: center;
  text-decoration: none;
  font-size: 1em; 
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  margin-top: 3rem;
  margin-left: 10.5rem;
}
  
#button-kontakt:hover {
  background-color: #E7EF75; 
  color: black;
}

  /* ------------------------registrierung.html---------------------------------------- */

  .login-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    height: 50rem;  
  }
  
  .login-formular {
    width: 30%;
    margin-bottom: 4rem;
  }

  #logo-home {
    width: 15%;
    margin-bottom: 2rem;
}

.level-uebersicht {
  background-color: rgb(0, 191, 255);
}

  #level-uebersicht-text-v3 {
    width: 100%;
    height: 15vh;
    background-color: orange;
    margin-left: 35%;
  }

  .level-uebersicht-titel {
    color: black;
    margin-bottom: 0.5em;
  }
  
  #level-uebersicht-box-1, #level-uebersicht-box-2, #level-uebersicht-box-3, #level-uebersicht-box-4 { 
      height: auto;
      width: 65%;
      margin-bottom: 2rem;
      padding: 30px;
      background-color: white;
      border-radius: 20px 0 0 20px;
      margin-left: auto;
      margin-right: 0;
      cursor: pointer;
  }

#level-uebersicht-box-4 { 
    height: auto;
    width: 65%; 
    padding: 30px;
    background-color: white;
    border-radius: 20px 0 0 20px;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}
  
  #level-uebersicht-box-1:hover, #level-uebersicht-box-2:hover, #level-uebersicht-box-3:hover, #level-uebersicht-box-4:hover { 
      background-color: #E7EF75;
  }
  
  .button-registrierung-div {
    background-color: red;
    height: 30vh;
    margin-left: 35%;
  }
  

#button-registrierung {
 width: 18%;
 background-color: #E7EF75;
 border: none;
 border-radius: 20px; 
 padding: 10px 20px; 
 color: black; 
 text-align: center;
 text-decoration: none;
 font-size: 1em; 
 cursor: pointer;
 transition: background-color 0.3s ease;
}

.error-message {
 color: red;
 margin-top: 10px; /* Add space between button and error message */
 color: #ff0000; /* Red color for error message */
 font-size: 0.9em; /* Adjust the font size */
 margin-top: 10px; /* Add space between button and error message */
 text-align: center; /* Center the text */
 background-color: #ffe0e0; /* Light red background color */
 padding: 8px 12px; /* Add padding for the error message */
 border-radius: 10px; /* Rounded corners */
 border: 1px solid #ff0000; /* Red border */
 max-width: 300px; /* Set maximum width for the error message */
} 


  /* ------------------------level-bearbeiten.html---------------------------------------- */

  #level-uebersicht-text-v2 {
    height: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15%;
    color: white;
} 

  .cards-v2 {
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-gap: 3rem;
    margin: 0 15% 5% 15%;
  }
  
  .card-v2 {
    background-color: white;
    padding: 1rem;
    height: auto;
    border-radius: 20px; 
    padding: 30px;
  }
  
#button-speichern-div { 
    width: 100%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
}

  
  #button-speichern {
      width: 13%;
      background-color: #323432;
      border: none;
      border-radius: 20px; 
      padding: 10px 20px; 
      color: black; 
      text-align: center;
      text-decoration: none;
      font-size: 1rem; 
      cursor: pointer;
      transition: background-color 0.3s ease; /* Smooth transition for background color change */
      margin-left: 15%;
  }
  
  #button-speichern:hover {
      background-color: #E7EF75; 
  }
  
  
  /* If screen is larger than 600px, do it in 2 column */
  @media (min-width: 600px) {
    .cards-v2 { 
      grid-template-columns: repeat(2, 1fr); 
  }
  
  
  }


  /* ------------------------training-start.html---------------------------------------- */


.trainings-text-div {
  margin: 10% 20% 6% 20%;
}

h1 {
  color: white;
  font-size: 80px;
  line-height: 1;
  margin-bottom: 2rem;
}

h1:hover {
  color: #E7EF75;
}

#trainings-text {
  color: white;
  line-height: 1.8;
  word-wrap: break-word;
}

#button-training-starten {
  text-align: center;
  margin-bottom: 10%;
}


  /* ------------------------footer-everywhere---------------------------------------- */


footer {
  height: 8rem;
  background-color: #262726;
  width: 100%;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
}

#footer-div {
  text-align: center;
  display: flex;
  gap: 1rem;
}

#twitter, #facebook, #instagram {
  height: 2rem;
}


  /* ------------------------kontakt.html---------------------------------------- */

  #runup-mail, #runup-telefonnummer {
    color: white;
  }

  #runup-mail:hover, #runup-telefonnummer:hover {
    color: #E7EF75;
  }

#iframe-maps {
  width: 100%;
  height: 40vh;
}

#maps {
  width: 100%;
  height: 100%;
}

  /* ------------------------make it responsive please---------------------------------------- */


  @media(max-width: 1400px) {       /*   767px   */
    #button-login {
      width: 15%;
    }

    #button-login-start {
      width: 15%;
    }
  
    #button-registrierung {
      width: 22%;
    }
  
    #logo-home {
      width: 20%;
    }
  
    #balken-1 {
      margin-top: -27.5%;
    }
    
    #balken-3 {
      margin-top: 10%;
    }

    #button-speichern {
      width: 20%;
    }

  }
  

@media(max-width: 1000px) {       /*   574px */
  #button-login {
    width: 28%;
}

#button-login-start {
  width: 28%;
}

  #button-registrierung {
    width: 40%;
  }

#logo-home {
  width: 29%;
}

.login-formular {
  width: 50%;
}

#balken-1 {
  margin-top: -49%;
  width: 23%;
}

#balken-3 {
  margin-top: 30%;
  width: 100%;
}

#button-speichern {
  width: 25%;
}



}


