/* -- Document Reset -- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
  }
  
  /* 1. Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* 3. Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* 4. Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* 5. Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  /* 6. A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* 7. Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block;
  }
  
  /* 8. Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* 9. Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

  }
  
  body {
    background-color: black;
}

a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }


#button-login {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #c5c5c5;
    border: none;
    border-radius: 20px; /* You can adjust the border-radius value to change the roundness of the corners */
    color: white; /* Text color */
    padding: 10px 20px; /* Adjust padding as needed */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px; /* Adjust font size as needed */
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

#button-login:hover {
    background-color: #E7EF75; /* Change the background color on hover */
}

#passwort-vergessen {
    color: pink;
    width: 100%;
    display: flex;    
    flex-direction: row;
    justify-content: center;
}

