  /* ------------------------Document Reset---------------------------------------- */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: "Poppins", sans-serif;
    vertical-align: baseline;
    background: transparent;
  }
  
  /* 1. Box sizing rules */
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  body,
  h1,
  h2,
  h3,
  h4,
  p,
  figure,
  blockquote,
  dl,
  dd {
    margin: 0;
  }
  
  /* 3. Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
  ul[role='list'],
  ol[role='list'] {
    list-style: none;
  }
  
  /* 4. Set core root defaults */
  html:focus-within {
    scroll-behavior: smooth;
  }
  
  /* 5. Set core body defaults */
  body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
  }
  
  /* 6. A elements that don't have a class get default styles */
  a:not([class]) {
    text-decoration-skip-ink: auto;
  }
  
  /* 7. Make images easier to work with */
  img,
  picture {
    max-width: 100%;
    display: block; 
  }
  
  /* 8. Inherit fonts for inputs and buttons */
  input,
  button,
  textarea,
  select {
    font: inherit;
  }
  
  /* 9. Remove all animations, transitions and smooth scroll for people that prefer not to see them */
  @media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }
  
    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }

  }

  /* ------------------------general---------------------------------------- */

  body {
    width: 100%;
    height: 100%;
    background-color: rgb(31, 29, 29);
   /* overflow-y: hidden; */
}

  /* ------------------------header---------------------------------------- */

header {
  height: 4rem;
  background-color: #262726;
  width: 100%;
  vertical-align: center;
  text-align: center;
}

#logo-header-div {
 /* background-color: red; */
  height: 4rem;
  width: 6rem;
  float: left; /* Float to the left */
  display: flex;
  align-items: center;
  justify-content: center;
}

#logo-header {
  width: 80%;
  float: right;
  margin: 0;
}

#profilbild-und-einstellungen-div {
  /* background-color: red; */
  height: 4rem;
  width: 6rem;
  float: right; /* Float to the right */
  display: flex;
  align-items: center;
  justify-content: center;
}

#profilbild-header, #einstellungen-header {
  width: auto;
  max-height: 50%;
  float: left;
  padding-right: 1.5rem;
}


  /* ------------------------general again---------------------------------------- */


h2 {
    color: white;
}

.login-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  height: 650px;
}

.login-formular {
  width: 30%;
  margin-bottom: 4rem;
}

/*
.login-box img,
.login-box button,
.login-box p {
}
*/

#logo-home {
    width: 15%;
    margin-bottom: 2em;
}

a:link {
    color: black;
    text-decoration: none;
  }
  
a:visited {
    color: black;
    text-decoration: none;
  }

#button-login {
   /* position: relative; 
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);
    display: inline-block; */
 
    width: 13%;
    background-color: #ffffff;
    border: none;
    border-radius: 20px; /* You can adjust the border-radius value to change the roundness of the corners */
    padding: 10px 20px; /* Adjust padding as needed */
    color: black; /* Text color */
    text-align: center;
    text-decoration: none;
    font-size: 1rem; /* Adjust font size as needed */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
    margin-bottom: 1rem;
}

#button-login:hover {
    background-color: #E7EF75; /* Change the background color on hover */
}

#button-registrierung {
   width: 13%;
   background-color: #262726;
   border: none;
   border-radius: 20px; /* You can adjust the border-radius value to change the roundness of the corners */
   padding: 10px 20px; /* Adjust padding as needed */
   color: white; /* Text color */
   text-align: center;
   text-decoration: none;
   font-size: 1em; /* Adjust font size as needed */
   cursor: pointer;
   transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

#button-registrierung:hover {
   background-color: #E7EF75; /* Change the background color on hover */
}

#button-registrierung-aktiv {
  width: 13%;
  background-color: #E7EF75;
  border: none;
  border-radius: 20px; /* You can adjust the border-radius value to change the roundness of the corners */
  padding: 10px 20px; /* Adjust padding as needed */
  color: white; /* Text color */
  text-align: center;
  text-decoration: none;
  font-size: 1em; /* Adjust font size as needed */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

#button-registrierung-aktiv:hover {
  background-color: #E7EF75; /* Change the background color on hover */
}


#motivation {
    color: white;
}

#registrierungs-frage {
  color: #404140;
}

#registrierungs-frage:hover {
  color: #E7EF75;
}

form {   
  border-bottom: 1px solid white;   
}   

input[type=text], input[type=password] {   
  width: 100%;   
  margin: 8px 0;  
  padding: 12px 0px;   
  display: inline-block;   
  border-bottom: 1px solid white;   
  box-sizing: border-box;   
  color: white;
} 

#angemeldet-bleiben {
  color: white;
}


#level-uebersicht-text {
  height: auto;
  width: 55em;
  margin-left: 33%;
  margin-bottom: 2em;
  padding: 30px;
  color: white;
}

.level-uebersicht-titel {
  color: black;
  margin-bottom: 0.5em;
}

#level-uebersicht-box-1, #level-uebersicht-box-2, #level-uebersicht-box-3, #level-uebersicht-box-4 { 
    height: auto;
    width: 65%;
    margin-bottom: 2rem;
    padding: 30px;
    background-color: white;
    border-radius: 20px 0 0 20px;
    margin-left: auto;
    margin-right: 0;
    cursor: pointer;
}

#button-registrierung-aktiv {
  margin-left: 35%;
  margin-top: 4em;
  margin-bottom: 10em;
  background-color: #262726;
}






/*

.balken {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%; /* Ensure the .balken div takes the full width of its parent */ /*
  gap: 1rem; /* Adjust the margin-bottom value as needed */


/*

.balken-left {
  display: flex;
  flex-direction: column;
  width: 100%; /* Ensure the .balken div takes the full width of its parent */ /*
  gap: 1rem; /* Adjust the margin-bottom value as needed */


/*

#balken-5 {
  width: 30%;
  height: 1em;
  background-color: #E4EF75;
  border-radius: 20px 0 0 20px;
}

#balken-4 {
  width: 20%;
  height: 1em;
  background-color: #E4EF75;
  border-radius: 20px 0 0 20px;
}

#balken-7 {
  width: 8%;
  height: 1em;
  background-color: #E4EF75;
  border-radius: 0 20px 20px 0;
  margin: 0;
  margin-bottom: 1em;
}

#balken-6 {
  width: 30%;
  height: 1em;
  background-color: #E4EF75;
  border-radius: 0 20px 20px 0;
  margin-bottom: 3em; 
}
*/

#details-header {
  background-color: #E7EF75;
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1em; /* Adjust the margin-bottom value to control the space between balken-5 and details-header */
}


#details-titel {
  color: black;
  font-size: 5em;
  margin: 0; /* Remove any default margins around h1 element */
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-bottom: 8rem;
}

.card-container-small {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 50vh;
  margin-bottom: 8rem;
}

.card {
  width: 20vw;
  height: 30vh;
  background: linear-gradient(to bottom, #E7EF75 0%, #E7EF75 82%, #5e5f5e23 82%, #5e5f5e23 100%);
  color: white;
  border-radius: 20px;
  margin: 5rem;
  display: flex;
  align-items: center;
  font-size: 1.5em;
  overflow: hidden;
}

.image-container {
  position: relative;
  width: 100%; /* Set width to 100% to make sure the image covers the entire container */
  height: 100%; /* Set height to 100% to make sure the image covers the entire container */
}

.card-image {
  width: 100%; /* Set width to 100% to make sure the image covers the entire container */
  height: 100%; /* Set height to 100% to make sure the image covers the entire container */
  object-fit: cover; /* Maintain aspect ratio and cover the entire container */
  border-radius: 6%;
}

.image-container span {
  position: absolute;
  bottom: 0;
  width: 100%; /* Set width to 100% to cover the entire bottom of the image container */
  text-align: center; /* Center the text horizontally */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for better text readability */
  color: white;
  font-size: 1em;
}







@media (max-width: 768px) {
  .card {
      width: 40vw;
      height: 30vh;
  }
}

.distanz-container {
  display: flex;
  align-items: center;
}

#titel-distanz {
  font-size: 3rem;
  margin-left: 12rem;
  margin-top: 4rem;
}

.intervall-container {
  display: flex;
  align-items: center;
}

#titel-intervall {
  font-size: 3rem;
  margin-left: 12rem;
  margin-top: 4rem;
}

.sprint-container {
  display: flex;
  align-items: center;
}

#titel-sprint {
  font-size: 3rem;
  margin-left: 12rem;
  margin-top: 4rem;
}

.dauerlauf-container {
  display: flex;
  align-items: center;
}

#titel-dauerlauf {
  font-size: 3rem;
  margin-left: 12rem;
  margin-top: 4rem;
}

.steigerungslauf-container {
  display: flex;
  align-items: center;
}

#titel-steigerungslauf {
  font-size: 3rem;
  margin-left: 12rem;
  margin-top: 4rem;
}

#profil-header {
  height: 15em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; /* Adjust the margin-bottom value to control the space between balken-5 and details-header */
}

#profil-titel {
  color: white;
  font-size: 5em;
  margin: 0; /* Remove any default margins around h1 element */
}

#profilbild {
  width: 175px; /* Set a specific width for the circular image */
  height: 175px; /* Set a specific height for the circular image */
  border-radius: 60%;
  overflow: hidden; /* Ensure the image stays within the circular shape */
  margin-bottom: 3rem;
}

#profil-foto {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem; /* Adjust the margin as needed */
}

#level-uebersicht {
  background-color: #5656565a;
  width: 35vw;
  height: 40vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin: auto;
  border-radius: 15px;
}

#level-box {
  font-size: 3rem;
  color: black;
  font-weight: 900;
  margin: 0; /* Remove default margin for <p> element */
  display: flex;
  margin-bottom: 1rem;
  align-items: flex-start; /* Align items to the top */
}

#profil-level {
  margin: 0; /* Remove default margin for <p> element */
  align-self: flex-start; /* Align the item to the top within the flex container */
}

.profil-angaben {
  font-size: 1.5rem;
  align-items: flex-end;
  margin-bottom: 1rem ;
  margin: 0; /* Remove default margin for <p> element */
}

#profil-buttons {
  display: flex;
  flex-direction: row;
}

#button-level-bearbeiten {
  width: 13%;
  background-color: #262726;
  border: none;
  border-radius: 20px; /* You can adjust the border-radius value to change the roundness of the corners */
  padding: 10px 20px; /* Adjust padding as needed */
  color: white; /* Text color */
  text-align: center;
  text-decoration: none;
  font-size: 1em; /* Adjust font size as needed */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  margin-top: 3rem;
  margin-left: 36rem;
}
  
#button-level-bearbeiten:hover {
  background-color: #E7EF75; /* Change the background color on hover */
  color: black;
}

#button-profil-speichern {
  width: 13%;
  background-color: #262726;
  border: none;
  border-radius: 20px; /* You can adjust the border-radius value to change the roundness of the corners */
  padding: 10px 20px; /* Adjust padding as needed */
  color: white; /* Text color */
  text-align: center;
  text-decoration: none;
  font-size: 1em; /* Adjust font size as needed */
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color change */
  margin-top: 3rem;
  margin-left: 10.5rem;
}
  
#button-profil-speichern:hover {
  background-color: #E7EF75; /* Change the background color on hover */
  color: black;
}







  /* ------------------------training-start.html---------------------------------------- */


.trainings-text-div {
  margin: 10% 20% 6% 20%;
}

h1 {
  color: white;
  font-size: 80px;
  line-height: 1;
  margin-bottom: 2rem;
}

h1:hover {
  color: #E7EF75;
}

#trainings-text {
  color: white;
  line-height: 1.8;
  word-wrap: break-word;
}

#button-training-starten {
  text-align: center;
  margin-bottom: 10%;
}


  /* ------------------------footer-everywhere---------------------------------------- */


footer {
  height: 8rem;
  background-color: #262726;
  width: 100%;
  display: flex;
  justify-content: center; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  margin-top: 2rem;
}

#footer-div {
  /* background-color: red; */
  text-align: center;
  display: flex;
  gap: 1rem;
}

#twitter, #facebook, #instagram {
  height: 2rem;
}








  /* ------------------------Kontakt.html---------------------------------------- */

  #runup-mail, runup-telefonnummer {
    color: white;
  }


  /* ------------------------make it responsive please---------------------------------------- */


  @media(max-width: 1400px) {       /*   767px   */
    #button-login {
      width: 15%;
    }
  
    #button-registrierung {
      width: 17%;
    }
  
    #logo-home {
      width: 20%;
    }
  
    #balken-1 {
      margin-top: -27.5%;
    }
    
    #balken-3 {
      margin-top: 10%;
    }
  }
  



@media(max-width: 1000px) {       /*   574px */
  #button-login {
    width: 28%;
}

  #button-registrierung {
    width: 28%;
  }

#logo-home {
  width: 29%;
}

.login-formular {
  width: 50%;
}

#balken-1 {
  margin-top: -49%;
  width: 23%;
}

#balken-3 {
  margin-top: 30%;
  width: 100%;
}


}


